.settings {
    position: fixed;
    left: 26px;
    bottom: 24px;
    padding: 12px;
    z-index: 1000;
    width: 60px;
    height: 64px;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: #e4e4e4;
    cursor: pointer;
    transition: width 0.235s, height 0.235s;

    .settingsIcon {
        user-select: none;
    }

    .checkIcon {
        margin: 0 0 7px 5px;
        cursor: pointer;
    }
    
    .wheelIcon {
        position: absolute;
        bottom: 16px;
    }
}

.isExpanded {
    width: 233px;
    height: 284px;
    background-color: #e4e4e4;
    display: flex;
    flex-direction: column;
    cursor: default;
    justify-content: flex-end;
}

.settingsContent {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 30px;
    padding-left: 6px;

    .settingsRow {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h3 {
            font-family: "Inter", sans-serif;
            font-size: 18px;
        }

        .settingsOptions {
            display: flex;
            gap: 4px;

            button {
                padding: 4px 10px;
                font-size: 14px;
                font-family: "Inter", sans-serif;
                cursor: pointer;
                border: none;
                background-color: #919191;
                color: white;
                border-radius: 6px;
                transition: background-color 0.15s;

                &:hover {
                    background-color: #505050;
                }
            }

            p {
                font-size: 14px;
                margin-top: -4px;
                cursor: pointer;
            }
        }
    }
}



