.settings {
    position: fixed;
    left: 26px;
    bottom: 24px;
    padding: 12px;
    z-index: 1000;
    width: 60px;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: #e4e4e4;
    cursor: pointer;

    .settingsIcon {
        user-select: none;
    }
}

.isExpanded {

}