.footer {
    display: flex;
    background-color: #ededed;
    width: 100%;
    padding: 65px 0px 80px 422px;

    .footerSection {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 240px;
        margin-right: 80px;

        h3,
        p {
            font-size: 15px;
            letter-spacing: -0.02em;
            line-height: 1.4;
        }

        p {
            cursor: pointer;
        }

        .niche {
            font-weight: 600;
            margin: 11px 0 2px;
        }

        .margin {
            margin-bottom: 10px;
        }
    }

    .companySection {
        justify-content: space-between;

        .logoImage {
            height: 28px;
            width: auto;
            filter: invert(100%);
        }

        h3 {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 2px;
        }
    }
}