.footer {
    display: flex;
    background-color: #ededed;
    width: 100%;
    padding: 65px 0px 80px 424px;

    .footerSection {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 240px;
        margin-right: 80px;
    }

    .companySection {
        justify-content: space-between;

        .logoImage {
            height: 28px;
            width: auto;
            filter: invert(100%);
        }

        h3 {
            font-size: 14px;
            font-weight: 400;
        }
    }
}